<ion-view title="Sazón de la Nonna">
    <ion-content  class="has-footer " >
        <div>
            
			<div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="combo.nombre" type="text" placeholder="Nombre" />
                </label>
				 <label class="item item-input">
                    <input ng-model="combo.precio" type="text" placeholder="Precio" />
                </label>
				 <label class="item item-input">
                    <input ng-model="combo.img" type="text" placeholder="img" />
                </label>
                 
            </div>
            <div class="padding">
                <button ng-click="add_c()" class="button button-block button-dark">Añadir</button>
                
            </div>
			
        </div>
    </ion-content>
	
	<div class="bar bar-footer bar-positive">
  <a href="#/food"><div class="title">Inicio</div></a>
</div>
</ion-view>