<ion-view title="Sazón de la Nonna">
    <ion-content>
       
        <div>
            <div class="list list-inset"> 
               
                <label class="item item-input">
                     {{nombre}}
                </label>
				<label class="item item-input">
                    <input ng-model="ing.ingrediente" type="text" />
                </label>
				
            </div>
            <div class="padding">
                <button ng-click="add_ing()" class="button button-block button-stable">Añadir</button>
                 <p>
                    
                </p>
            </div>
        </div>
    </ion-content>
	<div class="bar bar-footer bar-positive">
  <a href="#/food"><div class="title">Inicio</div></a>
</div>
</ion-view>