<ion-view title="Sazón de la Nonna" >
    <ion-nav-buttons side="right"> 
         <img src='img/logo xsm.png' width='40px' class="right "> 
    </ion-nav-buttons>
	<!--<ion-nav-buttons side="right"  ng-click="toggleLeft()"> 
       <img src='img/logo xsm.png' width='40px'>
    </ion-nav-buttons>-->
	<ion-nav-buttons side="left"> 
       <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	
	
    <ion-content  class="has-footer " ng-controller="CarritoCtrl" >
	
        <div class="list"> 
<a href="#/espera">
	
	<div class="item" ng-show="pedi[0].delivery" >
	<div id ="pedidocarrito" style="float:left;" >    </div><div style="float:left; padding: 7px;" > Esperando un Pedido</div>
       </div> 
	   </a>	
	   <a href="#/pincompleto" class="item" style="background-color:#FFC900; color:#ffffff"><div  ng-show="check">
		Pedido incompleto
  </div></a>
            <div ng-repeat="todo in items"  class="item">
			<div class="item item-thumbnail-left">
                <img src="{{todo.img}}" width="300px">
						<div class="item item-icon-right"><h2>{{todo.nombre}}</h2><i class="icon ion-close-round"  ng-click="deleteIt(todo,todo.cantidad)"></i></div>
						<p><strong>${{todo.precio}}</strong></p>
						
						  <span class="input-label" >Cantidad: {{todo.cantidad}}</span>
						  
						<p>
						<div  ng-repeat="(key, todos) in todo.descripcion" ><ion-toggle ng-model="airplaneMode"  ng-click="editIt(todo,key,todos.add)"ng-checked="todos.add"   toggle-class="toggle-calm">{{todos.ingrediente}}</ion-toggle></div>
						</p>
						</div>
            </div>
        </div>
		<div ng-show="!aux">  
			<p>No ha seleccionado ningún articulo</p>
		</div>
		<div ng-hide="!aux">  
		<div class="list">  
            <div class="item">
			<div>
                
						<div class="item item-icon-right"><h2>Factura</h2></div>
						<p><strong><h1>${{aux}}</h1></strong></p>
						
						  <span class="input-label" >Cantidad: {{todo.cantidad}}</span>
						  
						<p><button ng-click="pagar(items)" class="button button-full button-calm">
  Pagar
</button>
						</p>
						</div>
            </div>
        </div>
		</div>
    </ion-content> 
	
	
	<div class="bar bar-footer bar-positive"  >
	
  <a href="#/food"><div class="title">Atras</div></a>
  
</div>

</ion-view>

