<ion-view title="Sazón de la Nonna"  style=" height:100%; width: 100%;" scroll="false" >
   
	
    <ion-content style=" height:100%; width: 100%;" class="has-footer " ng-controller="EntregarTCtrl"  edge-drag-threshold="false"
  drag-content="false"  scrollbar-y="false"  scrollbar-x="false"  >
        
		  
			<div  style=" height:100%; width: 100%;"> 
			<div id="map3" style=" height:50%; width: 100%;"></div>
			  <div id="panel2" style=" height:50%; width: 100%;"></div>
						</div>
            
        
    </ion-content> 
	
	
	<div class="bar bar-footer bar-calm" >
	<a ng-click="locateMe()" class="button button-icon icon ion-ios-navigate-outline"> </a>
  <a  ng-click="pagarf()"class="button  button-clear pull-right">Pagar</a>
  
</div>

</ion-view>

