<ion-view title="Sazón de la Nonna" ng-init="list()">
    
	<!--<ion-nav-buttons side="right"  ng-click="toggleLeft()"> 
       <img src='img/logo xsm.png' width='40px'>
    </ion-nav-buttons>-->
	<ion-nav-buttons side="left"> 
       <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	
	
    <ion-content  class="has-footer " ng-controller="EntregasCtrl" >
        <div class="list">
		<div class="item"  style="background-color:#387EF5; color:#ffffff">
 <a href="#/entregartodos"><button ng-click="entregado(todo3,todo2.state.id)" class="button button-balanced">ENTREGAR A TODOS!</button></a>
    </div>
  <div class="item"  style="background-color:#387EF5; color:#ffffff">
  <!--	  <div id="map4" style=" height:100px; width: 100%;"></div>  -->
  </div>

		 
            <div ng-repeat="todo3 in comidas" class="item">
			<div ng-repeat="todo2 in todo3" ng-hide="{{todo2.state.add == 'pag'}}">
			<div ng-hide="{{todo2.state.add == 'entregado'}}">
			<div ng-hide="{{todo2.state.add == 'pre'}}"> 
			
			<div ng-repeat="todo in todo2">

			<div ng-hide="{{todo.add == 'pag'}}">
			<div ng-hide="{{todo.add == 'pagado'}}" > 
			<div ng-hide="{{todo.add == 'pre'}}"  class="item item-thumbnail-left">
			
                <img src="{{todo.img}}" width="300px">
						<h2>{{todo.nombre}}</h2>
						<p><strong>${{todo.precio}}</strong></p>
						<label class="item item-input">
						  Cantidad: {{todo.cantidad}}
						  
						</label>
						<p>
						
						<div  ng-repeat="todos in todo.descripcion" ng-show="{{todos.add}}" >{{todos.ingrediente}}</div>
						
						</p>
						
						
			</div>
			</div>
			</div>
			</div>
			<div class="item">
                
						<h2>PEDIDO {{todo2.state.id}}</h2>
						<p><strong>{{todo2.state.nombre}} {{todo2.state.apellido}}</strong></p>
						<p>{{todo2.state.numero}}</p>
						<p><strong>${{todo2.state.total}}</strong></p>
						{{tiempo(todo2.state.lat,todo2.state.lng)}}
						  {{todo2.state.direccion}}
						  <p>{{todo2.state.lat}}{{todo2.state.lng}}</p>
							
						<p>
						
						<div  ng-repeat="todos in todo.descripcion" ng-show="{{todos.add}}" >{{todos.ingrediente}}</div>
						
						</p>
						
						<p><button ng-click="entregado(todo3,todo2.state.id,todo2)" class="button button-balanced">ENTREGADO!</button></p><p><button ng-click="ir(todo2.state.id,todo3)" class="button button-calm">Ver Direccion</button></p>
			</div>
			
			<div class="item"  style="background-color:#387EF5; color:#ffffff">
    
  </div>
			</div>
			</div>
			</div>
            </div>
        </div>
		
		

    </ion-content> 
	
	
	<div class="bar bar-footer bar-positive">
	
  <a href="#/food"><div class="title">Inicio</div></a>
 
</div>

</ion-view>

