<ion-view title="Sazón de la Nonna">
    
	<!--<ion-nav-buttons side="right"  ng-click="toggleLeft()"> 
       <img src='img/logo xsm.png' width='40px'>
    </ion-nav-buttons>-->
	<ion-nav-buttons side="left"> 
       <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	
	
    <ion-content  class="has-footer " ng-controller="EsperaCtrl" >
        <div class="card">

		<div class="list">  
            <div ng-repeat="todo2 in comidas" >
			<div ng-repeat="todo in todo2">

			<div ng-hide="todo2.state.add == 'pre'">
			<div ng-hide="todo2.state.add == 'entregado'">
			
			<div ng-hide="todo.add == 'pag'">
			<div ng-hide="todo.add == 'pagado'"><div class="item item-thumbnail-left" >
                <img src="{{todo.img}}" width="300px">
						<h2>{{todo.nombre}}</h2>
						<p><strong>${{todo.precio}}</strong></p>
						<p>Cantidad: {{todo.cantidad}}</p>
						<p>
						{{todo.add}}
						<div  ng-repeat="todos in todo.descripcion" ng-show="{{todos.add}}" >{{todos.ingrediente}}</div>
						
						</p>
						</div>
						</div>
						</div>
						<div ng-show="todo.add == 'pagado'">
						
						<div class="item" style="background-color:#387EF5; color:#ffffff">
                
						<h2 style="color:#ffffff">Esperando entrega</h2>
						<p><strong style="color:#ffffff">${{todo.total}}</strong></p>
						<p style="color:#ffffff">
						Dirección: {{todo.direccion}}
						</p>
						</div>
						
						</div>
						<div ng-show="todo.add == 'pag'">
						
						<div class="item" style="background-color:#387EF5; color:#ffffff">
                
						<h2 style="color:#ffffff">Esperando entrega</h2>
						<p><strong style="color:#ffffff">${{todo.total}}</strong></p>
						<p style="color:#ffffff">
						Dirección: {{todo.direccion}}
						</p>
						</div>
						
						</div>
            </div></div>
			</div>
			</div>
        </div>
		<div class="item item-text-wrap"  style="background-color:#387EF5; color:#ffffff">
    
  </div>
		</div>
		

    </ion-content> 
	
	
	<div class="bar bar-footer bar-positive">
	
  <a href="#/food"><div class="title">Inicio</div></a>
  
</div>

</ion-view>

