<ion-view title="Sazón de la Nonna" ng-init="list()">
    
	<!--<ion-nav-buttons side="right"  ng-click="toggleLeft()"> 
       <img src='img/logo xsm.png' width='40px'>
    </ion-nav-buttons>-->
	<ion-nav-buttons side="left"> 
       <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	
	
    <ion-content  class="has-footer " ng-controller="HistoCtrl" >
	<a href="#/espera">
	
	<div class="item" ng-show="pedi[0].delivery" >
	<div id ="displayReloj" style="float:left;" >    </div><div style="float:left; padding: 7px;" > Esperando un Pedido</div>
       </div> 
	   </a>
        <div class="list">

            <div ng-repeat="todo3 in comidas" class="item">
			<div ng-repeat="todo in todo3"  >
			
			
			
			<div ng-hide="todo.add" >

			
			
			<div class="item item-thumbnail-left">
			
                <img src="{{todo.img}}" width="300px">
						<h2>{{todo.nombre}}</h2>
						<p><strong>${{todo.precio}}</strong></p>
						<label class="item item-input">
						  Cantidad: {{todo.cantidad}}
						  
						</label>
						<p>
						
						<div  ng-repeat="todos in todo.descripcion" ng-show="{{todos.add}}" >{{todos.ingrediente}}</div>
						
						</p>
						
						
		
			
			</div>
			</div>
			
			
			
			
			
			</div>
			<div class="item">
                
						<h2>PEDIDO </h2>{{todo3.state.id}}
						<p><strong>{{todo3.state.nombre}} {{todo3.state.apellido}}</strong></p>
						<p>{{todo3.state.numero}}</p>
						<p><strong>${{todo3.state.total}}</strong></p>
						
						  {{todo3.state.direccion}}
						  <p>{{todo3.state.lat}}{{todo3.state.lng}}</p>

			</div><div class="item"  style="background-color:#387EF5; color:#ffffff">
    
  </div>
            </div>
        </div>
		
		

    </ion-content> 
	
	
	<div class="bar bar-footer bar-positive">
	
  <a href="#/food"><div class="title">Inicio</div></a>
 
</div>

</ion-view>

