<ion-view title="Sazón de la Nonna">

    <ion-nav-buttons side="right" > 
        <img src='img/logo xsm.png' width='40px' class="right "> 
    </ion-nav-buttons>
	<!--<ion-nav-buttons side="right"  ng-click="toggleLeft()"> 
       <img src='img/logo xsm.png' width='40px'>
    </ion-nav-buttons>-->
	<ion-nav-buttons side="left"> 
       <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	 
	
    <ion-content  class="has-footer " ng-controller="InfoCtrl" >
	<div class="list" >
	<a href="#/espera">
	
	<div class="item" ng-show="pedi[0].delivery" >
	<div id ="displayReloj" style="float:left;" >    </div><div style="float:left; padding: 7px;" > Esperando un Pedido</div>
       </div> 
	   </a>
  <div  ng-repeat="todo in info" class="item"  style="background-color:#387EF5;"">
    
			<div class="item item-thumbnail-left">
                <img src="img/logo sm.jpg" >
				
						<h2><i class="icon ion-person"></i> {{todo.nombre}} {{todo.apellido}}</h2>
						<p><i class="icon ion-android-call"></i> {{todo.numero}}</p>
						<p><i class="icon ion-email"></i> {{email}}</p>
						
						
						
			</div>
           
  </div>	
			
			<div class="item">
			<a href="#/add_it/{{todo.id}}"><button  class="button button-royal">Cambiar Clave</button></a>
            </div>
            <div class="item">
			<a href="#/registro"><button  class="button button-balanced">Cambiar Información</button></a>
            </div>
        </div>
		
		

    </ion-content> 
	
	
	<div class="bar bar-footer bar-positive"  ng-controller="TodoController" >
	<div class="button button-clear pull-right"><a href="#/carrito"  class="button button-clear pull-right" >Pedir</a></div>
  <a href="#/food"><div class="title">Inicio</div></a>
  <div class="button button-clear pull-left">Total: {{aux}}</div>
</div>

</ion-view>

