<ion-view view-title="Sazón de la Nonna">
<ion-content ng-controller="LoginController">
        <div class="padding-left padding-top padding-right"  style="text-align: center;"> 
            <h1>Welcome to Sazón de la Nonna</h1>
			<img src='img/logo.jpg' width='300px' style="margin: 0 auto;">
        </div>
        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="username" type="text" placeholder="Username" />
                </label>
                <label class="item item-input">
                    <input ng-model="password" type="password" placeholder="Password" />
                </label>
            </div>
            <div class="padding">
                <button ng-click="login(username, password)" class="button button-block button-stable">Sign In</button>
                <button ng-click="register(username, password)" class="button button-block button-dark">Register</button>
                <p>
                    Sign into this application
                </p>
            </div>
        </div>
    </ion-content>

	
</ion-view>

