<ion-view title="Sazón de la Nonna">
    <ion-nav-buttons side="right"> 
         <img src='img/logo xsm.png' width='40px' class="right "> 
    </ion-nav-buttons>
	<!--<ion-nav-buttons side="right"  ng-click="toggleLeft()"> 
       <img src='img/logo xsm.png' width='40px'>
    </ion-nav-buttons>-->
	<ion-nav-buttons side="left"> 
       <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	
	
    <ion-content  class="has-footer " ng-controller="PagarCtrl" >
        
		<div class="list">  
		<a href="#/espera">
	
	<div class="item" ng-show="pedi[0].delivery" >
	<div id ="pagarcarrito" style="float:left;" >    </div><div style="float:left; padding: 7px;" > Esperando un Pedido</div>
       </div> 
	   </a>
            <div class="item">
			<div>
                
						<div class="item item-icon-right"><h2>Factura</h2></div>
						<p><strong><h1>${{precio}}</h1></strong></p>
						
						<p>
						<button ng-click="pagar()" class="button button-full button-positive item-icon-right">
						  Efectivo<i class="icon ion-cash"></i>
						</button>
						
				<!--		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="form_paypal">
						<input type="hidden" name="cmd" value="_cart">
						<input type="hidden" name="upload" value="1">
						<input type="hidden" name="business" value="f-918@hotmail.com">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="item_name_1" value="Pedido">
						<input type="hidden" name="amount_1" value="1" >
						<input type="hidden" name="quantity_1" value="1">
						<input type="hidden" name="cmd" value="_cart">

  <input type="hidden" name="first_name" value="NOMBRE">
  <input type="hidden" name="last_name" value="APELLIDO">
  <input type="hidden" name="address1" value="DIRECCION">
  <input type="hidden" name="address2" value="DIRECCION">
  <input type="hidden" name="city" value="CIUDAD">
  <input type="hidden" name="state" value="ESTADO SIGLA">
  <input type="hidden" name="zip" value="COD POST">
  <input type="hidden" name="night_phone_a" value="610">
  <input type="hidden" name="night_phone_b" value="555">
  <input type="hidden" name="night_phone_c" value="1234">
  <input type="hidden" name="email" value="CORREO">
  -->
						<button   class="button button-full button-calm item-icon-right">
						  Paypal o Tarjeta de Crédito<i class="icon ion-card"></i>
						</button>
						
						</form>
						</p>
						</div>
            </div>
        </div>
    </ion-content> 
	
	
	<div class="bar bar-footer bar-positive" >
	
  <a href="#/food"><div class="title">Inicio</div></a>
  
</div>

</ion-view>

