<ion-view title="Sazón de la Nonna" ng-init="list()">
    
	<!--<ion-nav-buttons side="right"  ng-click="toggleLeft()"> 
       <img src='img/logo xsm.png' width='40px'>
    </ion-nav-buttons>-->
	<ion-nav-buttons side="left"> 
       <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	
	
    <ion-content  class="has-footer " ng-controller="PedidosCtrl" >
        <div class="list">
 
  <div class="item"  style="background-color:#387EF5; color:#ffffff">
    
  </div>

		 
            <div ng-repeat="todo3 in comidas" class="item">
			<div ng-repeat="todo2 in todo3" >
			<div ng-show="{{todo2.state.add == 'pag'}}"> 
			
			<div ng-repeat="todo in todo2">

			<div ng-hide="{{todo.add == 'pagado'}}">
			<div ng-hide="{{todo.add == 'pag'}}" > 
			<div ng-hide="{{todo.add == 'pre'}}"  class="item item-thumbnail-left">
                <img src="{{todo.img}}" width="300px">
						<h2>{{todo.nombre}}</h2>
						<p><strong>${{todo.precio}}</strong></p>
						<label class="item item-input">
						  Cantidad: {{todo.cantidad}}
						  
						</label>
						<p>
						
						<div  ng-repeat="todos in todo.descripcion" ng-show="{{todos.add}}" >{{todos.ingrediente}}</div>
						
						</p>
						
						
			</div>
			</div>
			</div>
			</div>
			<div class="item">
                
						<h2>PEDIDO {{todo2.state.id}}</h2>
						<p><strong>{{todo2.state.nombre}} {{todo2.state.apellido}}</strong></p>
						<p>{{todo2.state.numero}}</p>
						<p><strong>${{todo2.state.total}}</strong></p>
						
						  {{todo2.state.direccion}}
						  
						<p>
						
						<div  ng-repeat="todos in todo.descripcion" ng-show="{{todos.add}}" >{{todos.ingrediente}}</div>
						
						</p>
						
						<p><button ng-click="preparado(todo3,todo2.state.id)" class="button button-balanced">PREPARADO!</button></p>
			</div>
			
			<div class="item"  style="background-color:#387EF5; color:#ffffff">
    
  </div>
			</div>
			</div>
            </div>
        </div>
		
		

    </ion-content> 
	
	
	<div class="bar bar-footer bar-positive">
	
  <a href="#/food"><div class="title">Inicio</div></a>
 
</div>

</ion-view>

