<ion-view title="Sazón de la Nonna" ng-init="list()">
    
	<!--<ion-nav-buttons side="right"  ng-click="toggleLeft()"> 
       <img src='img/logo xsm.png' width='40px'>
    </ion-nav-buttons>-->
	<ion-nav-buttons side="left"> 
       <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	
	
    <ion-content  class="has-footer " ng-controller="PIncompletoCtrl" >
        <div class="list">

            <div ng-repeat="todo3 in comidas" class="item">
			<div ng-repeat="todo2 in todo3">
			<div >
			<div ng-show="{{todo2.state.add == 'pre'}}"> 
			
			<div ng-repeat="todo in todo2">

			<div ng-hide="{{todo.add == 'pre'}}">
			
			<div class="item item-thumbnail-left">
			
                <img src="{{todo.img}}" width="300px">
						<h2>{{todo.nombre}}</h2>
						<p><strong>${{todo.precio}}</strong></p>
						<label class="item item-input">
						  Cantidad: {{todo.cantidad}}
						  
						</label>
						<p>
						
						<div  ng-repeat="todos in todo.descripcion" ng-show="{{todos.add}}" >{{todos.ingrediente}}</div>
						
						</p>
						
						
			</div>
			
			</div>
			</div>
			<div class="item">
                
						<h2>PEDIDO </h2>{{todo2.state.id}}
						<p><strong>${{todo2.state.total}}</strong></p>
						{{tiempo(todo2.state.lat,todo2.state.lng)}}
						  {{todo2.state.direccion}}
						  <p>{{todo2.state.lat}}{{todo2.state.lng}}</p>
					
						
						<p><button ng-show="todo2.state.lat"  ng-click="contPe2(todo2.state.id)"  class="button button-full button-energized ">Continuar con el Pedido 3</button><button ng-hide="todo2.state.lat" ng-click="contPe(todo2.state.id)" class="button button-full button-energized ">Continuar con el Pedido 2</button></p>
			</div>
			
			<div class="item"  style="background-color:#387EF5; color:#ffffff">
    
  </div>
			</div>
			</div>
			</div>
            </div>
        </div>
		
		

    </ion-content> 
	
	
	<div class="bar bar-footer bar-positive">
	
  <a href="#/food"><div class="title">Inicio</div></a>
 
</div>

</ion-view>

