<ion-view title="Sazón de la Nonna">
   
	
	
	
    <ion-content  class="has-footer " ng-controller="RegistroCtrl" >
       
		<div class="list has-header">
<div class="item item-thumbnail-left"  ng-hide="{{!todo.nombre}}"style="background-color:#387EF5; color:#ffffff">Rellena todos los campos por favor.</div>		
            <div class="item">
			<div ng-show="{{aux}}" class="item item-thumbnail-left"  >
                <img src="img/logo sm.jpg" >
						<h2>{{email}}</h2>
						<label class="item item-input">
							<input required ng-model="info.nombre" type="text" value="{{info.nombre}}"  placeholder="Nombre" />
						</label>
						<label class="item item-input">
							<input required ng-model="info.apellido" type="text" value="{{info.apellido}}"  placeholder="Apellido" />
						</label>
						<label class="item item-input">
							<input required ng-model="info.numero" type="text" value="{{info.numero}}"  placeholder="Numero de Telefono" />
						</label>
						
						<p>
						
						
						
						</p>
						<p>
						<button ng-click="infor(info)" class="button button-positive">Actualizar informacion</button></p>
						
			</div>
			<div ng-hide="{{aux}}" class="item item-thumbnail-left" ng-repeat="todo in inf"  >
                <img src="{{todo.img}}" width="300px">
						<h2>{{email}}</h2>
						<label class="item item-input">
							<input required ng-model="todo.nombre" type="text" value="{{todo.nombre}}"  placeholder="Nombre" />
						</label>
						<label class="item item-input">
							<input required ng-model="todo.apellido" type="text" value="{{todo.apellido}}"  placeholder="Apellido" />
						</label>
						<label class="item item-input">
							<input required ng-model="todo.numero" type="text" value="{{todo.numero}}"  placeholder="Numero de Telefono" />
						</label>
						
						<p>
						
						
						
						</p>
						<p>
						<button ng-click="infor(todo)" class="button button-positive">Actualizar informacion</button></p>
						
			</div>
            </div>
        </div>
		 <div class="card">
 
  
</div>
		

    </ion-content> 
	
	
	<div class="bar bar-footer bar-positive" >
	
  <a href="#/"><div class="title">Salir</div></a>
  
</div>

</ion-view>

