<ion-view title="Sazón de la Nonna" ng-controller="TodoController" >

    <ion-nav-buttons side="right"  ng-controller="TodoController" > 
        <img src='img/logo xsm.png' width='40px' class="right "> 
    </ion-nav-buttons>
	<!--<ion-nav-buttons side="right"  ng-click="toggleLeft()"> 
       <img src='img/logo xsm.png' width='40px'>
    </ion-nav-buttons>-->
	<ion-nav-buttons side="left"> 
       <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>
	 
	
    <ion-content  class="has-footer " ng-controller="TodoController" >
	<div class="list" >
	<a href="#/espera">
	<div class="item" ng-show="pedi[0].delivery" >
	<div id ="displayReloj" style="float:left;" >    </div><div style="float:left; padding: 7px;" > Esperando un Pedido</div>
       </div> 
	   </a>
	  <div  ng-show="check"> <a href="#/pincompleto" class="item" style="background-color:#FFC900; color:#ffffff">
		Pedido incompleto
  </a></div>
  <div  ng-show="check_datos"> <a href="#/registro" class="item" style="background-color:#FFC900; color:#ffffff">
		Completa tu información!
  </a></div>
  <div  ng-repeat="todo in combos"  class="item"  style="background-color:#387EF5; color:#ffffff">
    
			<div class="item item-thumbnail-left"style="background-color:#387EF5; color:#ffffff">
                <img src="{{todo.img}}" width="300px">
				
						<h2 style="color:#ffffff">{{todo.nombre}}</h2>
						<p  style="color:#ffffff"  ng-show="todo.precio == '15'" ><strong>${{todo.precio}}</strong></p>
						<label class="item item-input">
						  <span class="input-label" >Cantidad</span>
						  <input type="number" class="cant2" ng-model="todo.cantidad" value="0">
						</label>
						<p>
						<div  ng-repeat="todos in todo.descripcion" >{{todos.ingrediente}}</div>
						</p>
						<p>
						<button ng-click="carrito(todo)" ng-hide="!todo.cantidad"  class="button button-light">Añadir a la Cesta</button></p>
						<p><a href="#/add_it/{{todo.id}}"><button  class="button button-balanced">Añadir item</button></a></p>
			</div>
           
  </div>
   
            <div ng-repeat="todo in comidas" class="item">
			<div class="item item-thumbnail-left">
                <img src="{{todo.img}}" width="300px">
						<h2>{{todo.nombre}}</h2>
						<p><strong>${{todo.precio}}</strong></p>
						<label class="item item-input">
						  <span class="input-label" >Cantidad</span>
						  <input type="number" id="{{todo.id}}"  ng-model="todo.cantidad" value="0">
						</label>
						<p>
						
						<div  ng-repeat="todos in todo.descripcion" >{{todos.ingrediente}}</div>
						
						</p>
						<p>
						<button ng-click="carrito(todo)" ng-hide="!todo.cantidad"class="button button-positive">Añadir a la Cesta</button></p>
						<p><a href="#/add_i/{{todo.id}}"><button  class="button button-balanced">Añadir ingrediente</button></a></p>
			</div>
            </div>
        </div>
		
		

    </ion-content> 
	
	
	<div class="bar bar-footer bar-positive"  ng-controller="TodoController" >
	<div class="button button-clear pull-right"><a href="#/carrito"  class="button button-clear pull-right" >Pedir</a></div>
  <a href="#/food"><div class="title">Inicio</div></a>
  <div class="button button-clear pull-left">Total: {{aux}}</div>
</div>

</ion-view>

